*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header{
    /* debug */
    background-color: cadetblue;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 110px;
}

div{
    border: 2px dashed black;
    padding: 10px;
}

#logo{
    width: 20%;
/* debug */
    background-color: goldenrod;
}

a{
    margin: 5px;
}

#link{
    text-align: center;
    width: 60%;
    flex-grow: 1;
/* debug */
    background-color: goldenrod;

}

#login{
    width: 20%;
    text-align: right;
/* debug */
    background-color: goldenrod;
}

/* MAIN */

.one{
    /* debug */
    background-color: blue;
}

.presentation{
    width: 70%;
    height: 300px;
    background-color: pink;
}