*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */



.container{
    display: flex;
    justify-content: center;
    width: 1000px;
    padding: 25px 50px;
/* debug */
    background-color: cadetblue;
}

div{
    border: 2px dashed black;
    padding: 10px;
}

#logo{
    width: 20%;
/* debug */
    background-color: goldenrod;
}

a{
    margin: 5px;
}

#link{
    text-align: center;
    width: 60%;
    flex-grow: 1;
/* debug */
    background-color: goldenrod;

}

#login{
    width: 20%;
    text-align: right;
/* debug */
    background-color: goldenrod;
}